.container{
    margin: 10px 150px  ;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 190px;
    
}
header h3{
    font-size: 20px;
}

.liens{
    flex: 2;
}

.liens ul{
   list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
   
}
.liens ul li{
   
    margin-right: 20px;
}
.liens ul li a{
    text-decoration: none;
    color:black;
   
}
.liens ul li :last-child{
    margin-right: 0;
}
.Resume{
     width: 103px;
height:60px ;
margin-top: 2px;
margin-right: 3px;
border-radius: 4px;
gap: 8px;
background-color:black;
color:white;
text-align: center;
}

body{
    margin-left: 20px;
    margin-right: 40px;
}
   
.presentation{
    margin-top: 100px;
    margin-bottom: 40px;
    margin-left: ;
}


.bold-world{
    font-weight: bold;
    background-color:transparent;
}
.presentation img{
   margin-top: -130px;
   float: right;

   height: 400px;
   margin-right: 150px;
  
}
#icone_Reseau img{
    margin: 5px;
}
.skills{
    text-align: center;
    font-size: 30px;
    width: 70%;
    align-items:center;
    
}
.skills img{
    width: 130px;
    margin-right: 30px;
    margin-bottom: 25px;
    margin-left: 0px;
   
}
.myexperience{
    background-color: black;
    color: white;
    margin-bottom: 50px;
    height: 650px;
}
.myexperience #entete{
    text-align: center;
    font-size: 30px;
}
.google{
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    
}
.youtube{
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}
.twitter{
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin: 20px ;
    
}
#experienceGoogle{
    margin-top: 5px;
}
#experienceToutube{
    margin-top: 5px;
}
#experienceTwitter{
    margin-top: 5px;
}
#googleEntete{
    display: flex;
    justify-content: space-between;  
}
#twitterEntete{
    display: flex;
    justify-content: space-between;  
}
#youtubeEntete{
    display: flex;
    justify-content: space-between;  
}
#dateExperience{
    padding: 10px;
   
}

#experienceEntete{
    display: flex;
    width: 290px;
    justify-content: space-between;
}
.aboutMe{
    display: flex;
   display: ;

}
.aboutMe img{
    margin-right: 80px;
    width: 525.45px;
    height:572px ;

}
#aboutEntete{
    font-size: 30px;
}
.aboutMe h2{
   
}
.abouttxt{
    
    width: Hug (610px)
height: Hug (424px)
gap: 20px

}

.myProject{
    font-size: 30px;
    margin:10px 150px  ;
    background-color:black;
    color:white;
    margin: -03px;
    justify-content: center;
    margin-bottom: 100px;
    
}
.project1{
    display: flex;
    align-items:center;
   
}
.project1 img{
    width:594 ;
    height: 476px;
}
#project1_description{
    font-size: 15px;
}
#readmore1{
    width: 20px;
    height: 20px

}
.project2{
    display: flex;
    align-items:center;
   
}
.project2 img{
    width:594 ;
    height: 476px;
}
#project2_description{
    font-size: 15px;
}
.project3{
    display: flex;
    align-items:center;
   
}
.project3 img{
    width:594 ;
    height: 476px;
}
#project3_description{
    font-size: 15px;
}
.testimonial{
    display: flex;
    justify-content: center;
    padding: 20px;
   
}
#testimonial1{
    width:270px ;
    height:298px ;
    box-shadow: 0px 4px 8px rgba(0,0,0,1) ;
    width: Fixed (370px);
padding:40px;
border-radius: 20px;
gap: 24px ;
margin-right: 20px;

}

#testimonial2{
  
    background-color:black;
    color:white;
    box-shadow: 0px 4px 8px rgba(0,0,0,1) ;
    margin-right: 20px;
    width:  270px;
    height: 298px;
    padding: 40px;
    border-radius: 20px;
    gap: 24px;

}
#testimonial3{
    width:270px ;
    height:298px ;
    box-shadow: 0px 4px 8px rgba(0,0,0,1) ;
    width: Fixed (370px);
    padding:40px;
    border-radius: 20px;
    gap: 24px ;

}
#titreTestimonial{
    text-align: center;
    font-size: 50px;
}
.commentaire{
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
}
.input{
    display: inline-block;
    
}
#input1, #input2, #input3{
    margin-bottom: 10px;
    width: 290px;

}
#input4{
    height: 100px;
    width: 290px;
  
}
#inputtxt{
    
}
#get{
    width: 103px;
height:30px ;
margin-top: 2px;
margin-right: 3px;
border-radius: 4px;
gap: 8px;
background-color:black;
color:white;
text-align: center;

}
#icone_Reseau1 img{
    width: 30px;
    height:30px ;


}
#input_res{
    display: flex;
    
}
footer{
    justify-content: space-between;
    display: flex;
    background-color:black;
    color:white;
    margin-right: -20px ;
    margin-left: -20px;
}





@media (max-width: 767px){
    .liens{
        display: none;
    }
    header{
        
    }
    #entPers{
        margin-left: -150px;
    }
    .resume{
        display: none;
    }
    .presentation{
        display: inline-block;
    }
    .aboutMe{
        display: inline-block;
    }
    .myexperience{
        height: 950px;
    }
    .myProject{
        display: inline-block;
    }
    .project1{
        display: inline-block;
    }
    .testimonial{
        display: inline-block;
       
    }
    #testimonial1{
        margin: 10px;

    }
    #testimonial2{
        margin: 10px;

    }
    #testimonial3{
        margin: 10px;

    }
    .commentaire{
        display: inline-block;
    }
    #get{
        align-items: center;
    }
}